---
http_interactions:
- request:
    method: get
    uri: https://prod-s0-webapp-proxy.nubank.com.br/api/discovery
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"register_prospect_savings_web":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY","register_prospect_savings_mgm":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY","pusher_auth_channel":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY","reset_password":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY","register_prospect":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY","register_prospect_global_web":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY","request_password_reset":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY","auth_gen_certificates":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY","login":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY","auth_device_resend_code":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY"}'
  recorded_at: Wed, 05 Sep 2018 02:12:37 GMT
- request:
    method: post
    uri: https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY
    body:
      encoding: UTF-8
      string: '{"grant_type":"password","login":"<CPF>","password":"<PASSWORD>","client_id":"other.conta","client_secret":"yQPeLzoHuJzlMMSAjC-LgNUJdUecx8XO"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Signature:
      - <X-SIGNATURE>
    body:
      encoding: UTF-8
      string: '{"access_token":"<ACCESS-TOKEN>","token_type":"bearer","_links":{"change_password":{"href":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY"},"enabled_features":{"href":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY"},"certificate_status":{"href":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY"},"revoke_token":{"href":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY"},"userinfo":{"href":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY"},"events_page":{"href":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY"},"loginWebapp":{"href":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY"},"dropman":{"href":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY"},"events":{"href":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY"},"faq_push_back_state":{"href":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY"},"register_rewards":{"href":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY"},"login_webapp":{"href":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY"},"postcode":{"href":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY"},"app_flows":{"href":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY"},"rewards_signup_widget":{"href":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY"},"revoke_all":{"href":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY"},"customer":{"href":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY"},"account":{"href":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY"},"bills_summary":{"href":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY"},"features_map":{"href":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY"},"healthcheck":{"href":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY"},"savings_account":{"href":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY"},"rewards_enrollment":{"href":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY"},"purchases":{"href":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY"},"blackmirror":{"href":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY"},"ghostflame":{"href":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY"},"account_simple":{"href":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY"},"shore":{"href":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY"},"user_change_password":{"href":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY"}},"refresh_token":"<REFRESH-TOKEN>","refresh_before":"2018-09-12T03:14:44Z"}'
  recorded_at: Wed, 05 Sep 2018 03:14:45 GMT
- request:
    method: get
    uri: https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS-KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"bills":[{"state":"open","summary":{"payments":"55","interest_charge":"55","total_international":"55","due_date":"<DATE>","precise_minimum_payment":"55","interest_reversal":"55","close_date":"<DATE>","expenses":"55","total_credits":"55","past_balance":55,"effective_due_date":"<DATE>","international_tax":"55","tax":"55","adjustments":"55","precise_total_balance":"55","total_financed":"55","total_balance":55,"interest_rate":"55","total_national":"55","previous_bill_balance":"55","interest":55,"total_cumulative":55,"paid":55,"fees":"55","total_payments":"55","minimum_payment":55,"open_date":"<DATE>","total_accrued":"55"},"_links":{"self":{"href":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY"}}},{"state":"closed","id":"<ID>","summary":{"payments":"-55","remaining_balance":55,"interest_charge":"55","total_international":"55","due_date":"55","precise_minimum_payment":"55","interest_reversal":"55","close_date":"<DATE>","expenses":"55","total_credits":"55","past_balance":55,"effective_due_date":"<DATE>","international_tax":"55","tax":"55","adjustments":"55","precise_total_balance":"55","total_financed":"55","total_balance":55,"interest_rate":"55","total_national":"55","previous_bill_balance":"55","interest":55,"total_cumulative":55,"paid":55,"fees":"55","total_payments":"-55","minimum_payment":55,"remaining_minimum_payment":55,"open_date":"<DATE>","total_accrued":"55"},"href":"nuapp://bill/<ID>","_links":{"self":{"href":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY"},"finance_bill":{"href":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY"}}}],"_links":{"open":{"href":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY"},"future":{"href":"https://prod-s0-webapp-proxy.nubank.com.br/api/proxy/PROXY"}}}'
  recorded_at: Wed, 05 Sep 2018 03:14:46 GMT
recorded_with: VCR 4.0.0
